<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    {% load staticfiles %}
    <link rel="stylesheet"  type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
     <script src="{% static 'js/hotels.js' %}"></script>
     <style>
       body{
         background-color: {{ color }}
       }
       body{
         font-size: {{size}}
       }

     </style>
  </head>
  <body>
    <div id="header">
      <img src="http://datos.madrid.es/FWProjects/egob/nuevoMadrid/secciones/DatosAbiertos_1400X351.png"></img>
    </div>
    <ul class="nav nav-tabs">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/alojamientos">Alojamientos</a></li>
      <li><a href="/about">About</a></li>

    </ul>
    <div class="container-fluid">
      <div>
          {% if user.is_authenticated %}
            <h3> You are inside {{ user }}</h3>
            <h3> Write a comment ...</h3>
            <form action="" method="post" accept-charset="utf-8">
              {% csrf_token %}
            <textarea name="comentarios" rows="10" cols="40">Escribe aquí tus comentarios</textarea>
            <p><input type="submit" value="Send →"></p>
          </form>
          <a href="{{ pathi }}"> XML Inglés </a>
          <a href="{{ pathf }}"+"/xmlfrances"> XML Francés </a>
        {% endif %}
    </div>

    <div class"col-md-9 well well-sm">
      <h3 id='name'> {{ name }}</h3>
      {% if name != "" %}
        <ul class="list-group">
        <li class="list-group"><a href= "{{ url }}">{{name}}</a></li>
        <li class="list-group">{{ address }}</li>
        <li class="list-group"> {{type}}</li>
        <li class="list-group"> {{stars}}</li>
        <li class="list-group"><a href="{{ email }}" >{{email}}</a></li>
        <li class="list-group" > {{ phone }}</li>
      </ul>
      {% endif %}
  </div>
      <div class="row">
          <ul class="list-group">
          {% for h in lista %}
            {% if h.source != condicion %}

              <img class="img-thumbnail thumbnail col-md-3" src="{{ h.url }}"></img>
            {% else %}
              <li class="list-group"> No hay imagenes para mostrar </li>
            {% endif %}

        {% endfor %}

      </div>
      <div class="col-md-12">
        <li class="list-group">{{ body |safe }}</li>
      </div>
    </ul>
  <div class="row">
    <div class="col-md-12 well well-sm panel panel-default">
      <div class="panel-body">
        <h3> Comentarios: </h3>
          <ul class="list-group">
          {% for h in comentarios %}
            <p> <li class="list-group">{{ h.text }}</li> </p>
          {% endfor %}
        </ul>
          {% if user.is_authenticated  %}

            <a  class="btn btn-primary" id='ide' onclick="select({{ id }})" href="/{{ user }}/{{ id }}"> Seleccionar </a>
          {% endif %}
      </div>
    </div>
  </div>

</div>
  </body>
</html>
