<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />

  </head>
  <body>
    <img src="view-source:http://datos.madrid.es/FWProjects/egob/nuevoMadrid/secciones/DatosAbiertos_1400X351.png"></img>
  
    {% if user.is_authenticated %}
      <h3> You are inside {{ user }}</h3>
      <h4> Write a comment ...</h4>
      <form action="" method="post" accept-charset="utf-8">
      {% csrf_token %}
        <textarea name="comentarios" rows="10" cols="40">Escribe aquí tus comentarios</textarea>
        <p><input type="submit" value="Send →"></p>
      </form>
    {% endif %}
    <li><a href= "{{ url }}">{{name}}</a></li>
    <li>{{ address }}</li>
    <li> {{type}}</li>
    <li> {{stars}}</li>
    {% for h in lista %}

        {% if h.source != condicion %}
          <img src="{{ h.url }}"></img>
        {% else %}
          <li> No hay imagenes para mostrar </li>
        {% endif %}

    {% endfor %}
    <h4> Comments: </h4>
    {% for h in comentarios %}
      <p> <li>{{ h.text }}</li> </p>
    {% endfor %}
  </body>
</html>
