<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    {% load staticfiles %}
    <link rel="stylesheet"  type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <style>
    body{
      background-color: {{ color }}

    }
    body{
      font-size: {{ size }}
    }
  </style>
  </head>
  <body>
    <div id="header">
      <img src="http://datos.madrid.es/FWProjects/egob/nuevoMadrid/secciones/DatosAbiertos_1400X351.png"></img>
    </div>
    <ul class="nav nav-tabs">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/alojamientos">Alojamientos</a></li>
      <li><a href="/about">About</a></li>

    </ul>
    <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
      <h2> {{ usuario }}</h2>
      {% if user.is_authenticated and usuario == request.user.username %}
        <h3> You are inside {{ user }}</h3>

        <form action="" method="post" accept-charset="utf-8">
          {% csrf_token %}
          Escribe un color de fondo
          <input type="text" name="css" value=""></input>
          Escribe un tamaño de la fuente
          <input type="text" name="size" value=""></input>
          Escribe un titulo para la página
          <input type="text" name="titulo" value=""></input>
          <p><input type="submit" value="Send →"></p>
      </form>
    {% endif %}
    </div>
  </div>
  <div class="row">
    <div class"col-md-12 well well-sm">
      {% if lista|length > 0 %}
        {% for h in lista %}
            <ul class="list-group">
              <li class="list-group"><a href= "{{ h.hotel.url }}">{{h.hotel.name}}</a></li>
              <li class="list-group">{{ h.hotel.address }}</li>
              {% if h.hotel.source != "" %}
              <li class="list-group"> <img class="thumbnail" src="{{ h.hotel.source }}"></img></li>
              {% endif %}
              <li class="list-group"> {{ h.date }}</li>
              <li class="list-group"><a href="/alojamientos/{{ h.hotel.id }}">Más información </a></li>
            </ul>
      {% endfor %}
    {% else %}
        <h3> No hay hoteles seleccionados</h3>
    {% endif %}
    </div>
  </div>
  {% if list_len  > 10 %}
    <a href=/{{usuario}}/moreuser> Más </a>
  {% endif %}
</div>
  </body>
</html>
