<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
  <style>
    body{
      background-color: {{ color }}

    }
    body{
      font-size: {{ size }}
    }
  </style>
  </head>
  <body>
    <img src="view-source:http://datos.madrid.es/FWProjects/egob/nuevoMadrid/secciones/DatosAbiertos_1400X351.png"></img>
    <div>
    <h2> {{ usuario }}</h2>
    {% if user.is_authenticated and usuario == request.user.username %}
      <h3> You are inside {{ user }}</h3>

      <form action="" method="post" accept-charset="utf-8">
      {% csrf_token %}
        Write a background-color
        <input type="text" name="css" value=""></input>
          Write a font size font
        <input type="text" name="size" value=""></input>
        <p><input type="submit" value="Send →"></p>
      </form>
    {% endif %}
    {% for h in lista %}
        <li><a href= "{{ h.hotel.url }}">{{h.hotel.name}}</a></li>
        <li>{{ h.address }}</li>
        <img src="{{ h.hotel.source }}"></img>
        <li> {{ h.date }}</li>
        <li><a href="info">Más información </li>
    {% endfor %}

  </body>
</html>
